#sidebar-social-media-icons {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: #848484;
    /* font-size: 50px; */
    width: 60px;
    height: 60px;
}


#second-section-main-view {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* flex-wrap: wrap; */
}

.main-page {
    flex: 50%;
    padding-top: 150px;
    padding-right: 100px;
}

#title-and-description {
    display: flex;
    flex-direction: row;
}

#title-and-description p {
    font-size: 22px;
    margin-left: 70px;
}

.title-and-description-service {
    display: flex;
    flex-direction: row;
}

.service-preview {
    transition: 0.3s;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.service-preview img {
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 480px) {

    #second-section-main-view{
        flex-direction: column;
        height: 100%;
    }

    .home-page-section-2-sm-sidebar-fixed{
        display: none;
    }

    #title-and-description{
        flex-direction: column;
    }

    .main-page {
        flex: 100%;
        padding: 50px 25px 0px 25px;
    }

    #title-and-description #title-and-description-catchphrase {
        margin-bottom: 35px;
    }

    #title-and-description h1{
        font-size: 40px;
    }

    #title-and-description p {
        font-size: 21px;
        margin-left: 0px;
    }

    .title-and-description-service {
        flex-direction: column;
        height: 100%;
    }
    .service-preview {
        margin-bottom: 16px;
    }
}