
.main {
    padding: 8% 5% 12% 5%;
    height: 100%;
    position: relative;
}

.main::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70%;
    width: 100%;
    background-color: #ececec;
}