.polygon-top-right { clip-path: polygon(100% 0, 8% 0, 100% 31%); }

.polygon-bottom-left {
    /* clip-path: polygon(63% 100%, 0 47%, 0 100%); */
    clip-path: polygon(98% 100%, 0 47%, 0 100%);
}

@media screen and (min-width: 640px){
    #title h1 br {
        display: none;
    }
}

@media screen and (min-width: 768px){
    #title h1 br {
        display: none;
    }

    .polygon-top-right { clip-path: polygon(100% 56%, 100% 0, 25% 0); }
    .polygon-bottom-left {
        /* clip-path: polygon(0 100%, 59% 100%, 0 44%); */
        /* clip-path: polygon(0 100%, 59% 100%, 0 32%); */
        clip-path: polygon(0 100%, 66% 100%, 0 32%);
    }
}


@media screen and (min-width: 1280px){

    /* .polygon-top-right { clip-path: polygon(100% 56%, 100% 0, 25% 0); } */
    .polygon-bottom-left {
        clip-path: polygon(0 100%, 56% 100%, 0 25%);
    }
}

@media screen and (min-width: 1490px){

    .polygon-top-right {
        /* clip-path: polygon(52% 0, 100% 78%, 100% 0); */
        clip-path: polygon(42% 0, 100% 78%, 100% 0);
    }

    .polygon-bottom-left { clip-path: polygon(0 31%, 0 100%, 46% 100%); }
}