/* Manrope */
@font-face {
  font-family: 'Manrope-Regular';
  src: url('./assets/fonts/Manrope/Manrope-Regular.ttf');
}

@font-face {
  font-family: 'Manrope-Medium';
  src: url('./assets/fonts/Manrope/Manrope-Medium.ttf');
}

@font-face {
  font-family: 'Manrope-Light';
  src: url('./assets/fonts/Manrope/Manrope-Light.ttf');
}


@font-face {
  font-family: 'Manrope-ExtraLight';
  src: url('./assets/fonts/Manrope/Manrope-ExtraLight.ttf');
}


@font-face {
  font-family: 'Manrope-SemiBold';
  src: url('./assets/fonts/Manrope/Manrope-SemiBold.ttf');
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url('./assets/fonts/Manrope/Manrope-Bold.ttf');
}

@font-face {
  font-family: 'Manrope-ExtraBold';
  src: url('./assets/fonts/Manrope/Manrope-ExtraBold.ttf');
}


/* Open sans */

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('./assets/fonts/Open Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-Medium';
  src: url('./assets/fonts/Open Sans/OpenSans-Medium.ttf');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: local('OpenSans-Light'),
       url('./assets/fonts/Open Sans/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('./assets/fonts/Open Sans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('./assets/fonts/Open Sans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('./assets/fonts/Open Sans/OpenSans-ExtraBold.ttf');
}

.sample-font-regular {
  font-family: Manrope-ExtraBold;
  font-size: 36px;
}


body {
  margin: 0;
  background-color: white;
}

h1, h2, h3, p {
  color: #3d3d3d;
}